# Operating system install
cmdline
install
eula --agreed
firstboot --disable
selinux --enforcing
keyboard --vckeymap=us --xlayouts='us'
url --url {{ ks_url }}
unsupported_hardware
text
skipx
# Language
lang {{ ks_lang }}
keyboard {{ ks_keyboard }}

# Time
timezone {{ ks_timezone }}

# Storage
ignoredisk --only-use {{ ks_drive }}
zerombr
clearpart --all --drives {{ ks_drive }}
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive={{ ks_drive }} bootloader --iscrypted --password=grub.pbkdf2.sha512.10000.C5DD7993064FFEAAA364CF7A6227F6F2854E9425AE718DB6EF892A6D02CA5A2C78BDF7E3C7D0DCF804EFF6A395D6A21F81D57DF63D187520940B026ACFE7D30B.261E5F484A924E40A0C2B940EE438D4D2823750FA3FEE48647EDBD91027934F10886E02EC116D37E63EF3375496F00847F83A39206B70E3D077B1D742029FB54


{% if ks_autopart_enable %}
autopart --type {{ ks_autopart_type }}
{% else %}
{% for partition in ks_partitions -%}
{{ partition }}
{% endfor %}
{% endif %}

# Security
auth --enableshadow --passalgo=sha512
rootpw --iscrypted {{ ks_rootpw }}
{% if not ks_selinux_enable %}
selinux --disabled
{% endif %}

# Network
{% for network in ks_networks %}
{{ network }}
{% endfor %}

# Firewall
{% if ks_firewall_enable %}
firewall {{ ks_firewall }}
{% else %}
firewall --disabled
{% endif %}

# Packages
%packages
{% for package in ks_packages %}
{{ package }}
{% endfor %}
%end

# Services
{% if ks_services_disabled is defined %}
services --disabled {{ ks_services_disabled }}
{% endif %}
{% if ks_services_enabled is defined %}
services --enabled {{ ks_services_enabled }}
{% endif %}

#Create user
user --name="vagrant" --gecos="Vagrant User" --uid=5000 --gid=5000

%post
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
/usr/sbin/usermod -p '$1$Man.VHWE$b23684Q7uhihT22TcfvY5.' vagrant
/usr/bin/chfn -f "Some Admin User" vagrant
mv /etc/rc.d/rc.local /etc/rc.d/rc.local.00
echo '#!/bin/bash' > /etc/rc.d/rc.local
ln -s ../rc.local /etc/rc.d/rc5.d/S99rclocal
chmod 755 /etc/rc.d/rc.local
echo 'mkdir -p /var/log/vmware' >> /etc/rc.d/rc.local
echo 'exec 1> /var/log/vmware/rc.local.log' >> /etc/rc.d/rc.local
echo 'exec 2>&1' >> /etc/rc.d/rc.local
echo 'set -x' >> /etc/rc.d/rc.local
echo 'echo Installing Open VM Tools' >> /etc/rc.d/rc.local
echo 'set -x' >> /etc/rc.d/rc.local
echo '/bin/eject sr0 || /bin/true' >> /etc/rc.d/rc.local
echo '/bin/eject sr1 || /bin/true' >> /etc/rc.d/rc.local
echo '/bin/vmware-rpctool' \'guest.upgrader_send_cmd_line_args --default\' >> /etc/rc.d/rc.local
echo '/bin/vmware-rpctool' \'upgrader.setGuestFileRoot /tmp\' >> /etc/rc.d/rc.local
echo '/bin/vmware-rpctool' \'toolinstall.installerActive 1\' >> /etc/rc.d/rc.local
echo '/bin/vmware-rpctool' \'toolinstall.installerActive 100\' >> /etc/rc.d/rc.local
echo 'rm -f /etc/rc.d/rc.local' >> /etc/rc.d/rc.local
echo 'rm -f /etc/rc.d/rc5.d/S99rclocal' >> /etc/rc.d/rc.local
echo 'mv /etc/rc.d/rc.local.00 /etc/rc.d/rc.local' >> /etc/rc.d/rc.local


# Since we disable consistent network naming, we need to make sure the eth0
# configuration file is in place so it will come up.
# Delete other network configuration first because RHEL/C7 networking will not
# restart successfully if there are configuration files for devices that do not
# exist.
rm -f /etc/sysconfig/network-scripts/ifcfg-e*
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << _EOF_
TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eth0
DEVICE=eth0
ONBOOT=yes
_EOF_
%end


reboot --eject
